In [40]:
# importing pandas and numpy libraries 
import numpy as np 
import pandas as pd 

k = 1000
    

s = np.random.uniform(731.022033-2.320612,731.022033+2.320612,k)
df = pd.DataFrame(s, columns = ['Y_Htr Outlet Temp']) 
  
# displaying random integers in data frame 
print(df)

     Y_Htr Outlet Temp
0           732.004440
1           731.724052
2           729.873609
3           730.639177
4           733.251795
..                 ...
995         731.347950
996         729.720035
997         729.700638
998         729.168754
999         731.567808

[1000 rows x 1 columns]

In [43]:
df['Y_Top Tower Temp'] = np.random.uniform(258.046943 - 4.300249, 258.046943 + 4.300249, k)
df['Y_Reflux Temp'] = np.random.uniform(150.002569 - 0.129397, 150.002569 + 0.129397, k)
df['Y_Pump Around Temp'] = np.random.uniform(182.446049 - 2.818279, 182.446049 + 2.818279, k)
df['Y_127 to Storage Temp'] = np.random.uniform(209.503398 - 16.247064, 209.503398 + 16.247064, k)
df['Y_140 to Storage Temp'] = np.random.uniform(227.032520 - 15.734074, 227.032520 + 15.734074, k)
df['Y_152 to Storage Temp'] = np.random.uniform(200.028309 - 1.571367, 200.028309 + 1.571367, k)
df['Y_160 to Storage Temp'] = np.random.uniform(193.373220 - 14.918037, 193.373220 + 14.918037, k)

In [44]:
df

,Y_Htr Outlet Temp,Y_Top Tower Temp,Y_Reflux Temp,Y_Pump Around Temp,Y_127 to Storage Temp,Y_140 to Storage Temp,Y_152 to Storage Temp,Y_160 to Storage Temp
0,732.004440,261.060912,149.979198,183.342023,195.886379,213.863052,200.505684,190.377685
1,731.724052,256.849454,149.998786,185.179940,211.614468,214.181444,201.031338,204.738199
2,729.873609,254.647955,149.929075,183.909038,205.086249,234.121502,200.009427,191.308772
3,730.639177,261.855551,150.117014,183.185741,196.201399,238.322717,200.000111,191.212307
4,733.251795,254.476782,149.954082,184.591649,195.052852,225.840438,199.511615,182.411711
...,...,...,...,...,...,...,...,...
995,731.347950,255.661709,149.953181,179.682478,222.683204,230.811866,201.103343,192.732867
996,729.720035,259.744902,150.005328,180.480850,219.133151,216.879939,200.083979,201.451533
997,729.700638,254.740968,150.036866,182.325423,204.199010,222.115292,200.737030,184.095058
998,729.168754,261.682385,149.882682,184.667684,212.050330,211.303471,199.714747,187.411764
999,731.567808,255.503900,149.977551,184.841206,195.641915,236.239100,199.834353,203.080283